{{ define "main" }}
<h2>
  Formulari per fer inscriure's a les jornades
</h2>

<div class="columns mt-80">
  <div class="column is-6 is-offset-3">
    <form action="https://obrimelcodi.cat/forms/inscripcio" method="POST">
      <div class="columns is-multiline">
        <div class="column is-6">
          <label for="name">Nom</label>
          <input name="name" class="input is-medium" type="text" placeholder="Nom">
        </div>
        <div class="column is-6">
          <label for="surnames">Cognoms</label>
          <textarea name="surnames" class="input is-medium" type="text" placeholder="Cognoms"></textarea>
        </div>
        <div class="column is-6">
          <label for="email">Correu electrònic</label>
          <input name="email" class="input is-medium" type="text" placeholder="Correu electrònic">
        </div>
        <div class="column is-6">
          <label for="emailUpdates">Vols rebre actualitzacions a través del correu electrònic?</label>
          <input name="emailUpdates" class="input is-medium" type="checkbox" value="1">
        </div>
        <div class="column is-6">
          <label for="lunch">Vindràs al dinar? (12€)</label>
          <input name="lunch" class="input is-medium" type="checkbox" value="1">
        </div>
        <div class="form-footer has-text-centered mt-10">
          <button class="button cta is-large primary-btn raised is-clear">
            Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{{ end }}