{{ define "main" }}

{{ .Content }}

<h2>
  Formulari per fer una ponència
</h2>

      <div class="columns mt-80">
        <div class="column is-6 is-offset-3">
          <form action="https://obrimelcodi.cat/forms/ponencia" method="POST" >
            <div class="columns is-multiline">
              <div class="column is-6">
  			  <label for="title">Títol de la ponència</label>
                <input name="title" class="input is-medium" type="text" placeholder="Títol de la ponència">
              </div>
              <div class="column is-6">
  			  <label for="descriptionShort">Descripció curta (3 línies)</label>
                <textarea name="descriptionShort" rows="3" class="input is-medium" type="text" placeholder="Descripció curta"></textarea>
              </div>
              <div class="column is-12">
  			  <label for="descriptionLong">Descripció llarga</label>
                <textarea name="descriptionLong" class="textarea" rows="10" placeholder="Descripció llarga"></textarea>
              </div>
              <div class="column is-6">
  			  <label for="duration">Duració de la ponència</label><br>
  			  <div class="select">
  			    <select name="duration">
  				  <option value="5">5 minuts</option>
  				  <option value="15">15 minuts</option>
  			    </select>
  			  </div>
              </div>
  			<div class="column is-6">
  			  <label for="speaker">Ponent(s)</label>
                <input name="speaker" class="input is-medium" type="text" placeholder="Ponent(s)">
              </div>
  			<div class="column is-6">
  			  <label for="email">Correu electrònic</label>
                <input name="email" class="input is-medium" type="text" placeholder="Correu electrònic">
              </div>
  			<div class="column is-6">
  			  <label for="organization">Organització</label>
                <input name="organization" class="input is-medium" type="text" placeholder="Organització">
              </div>
  			<div class="column is-12">
  			  <label for="observations">Observacions</label>
                <textarea name="observations" class="textarea" rows="10" placeholder="Observacions"></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">
                  Enviar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
{{ end }}
